.temp__container {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.temp__value {
    font-size: clamp(72px, 6rem, 6rem);
    font-weight: 500;
}


.temp__units {
    font-size: clamp(56px, 5rem, 5rem);
    padding-left: clamp(5px, 0.5rem, 0.5rem);
}

.weather__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: clamp(18px, 2rem, 2rem);
    box-sizing: border-box;
}

.weather__icon {
    height: clamp(72px, 6rem, 6rem);
    width: clamp(72px, 6rem, 6rem);
}

.temp__info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

