.header {
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 100%;
    box-sizing: border-box;
}
.header__content {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    align-items: center;
    padding: clamp(10px, 1rem, 1rem);
    flex-wrap: wrap;
}

.header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__logo > img {
    height: clamp(18px, 2rem, 2rem);
}

.header__title {
    font-size: clamp(18px, 2rem, 2rem);
}

.header__occ-space {
    flex: 1;
}

@media(max-width: 700px) {
    .header__logo{
        margin-bottom: 10px;
    }
}

