.header {
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 100%;
    box-sizing: border-box;
}
.header__content {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    align-items: center;
    padding: 1rem;
}

.header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__logo > img {
    height: 2rem;
}

.header__title {
    font-size: 2rem;
}

.header__occ-space {
    flex: 1;
}

